/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "微軟正黑體";
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "微軟正黑體";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "微軟正黑體";
    outline: none;
    appearance: none;
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
}

//內容

html {
    width: 100%;
    height: 100%;
    background: #490b07;

    body{
        width: 100%;
        min-width: 1200px;
        height: 100%;
        overflow: hidden;

        main {
            width: 100%;
            height: 100%;

            article {
                width: 1100px;
                height: 100%;
                display: flex;
                margin: 0px auto;

                section {
                    width: 50%;
                    height: 100%;
                    position: relative;

                    &.right {

                        .logo {
                            width: 524px;
                            height: 248px;
                            background: url('../images/logo.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: -5px;
                            top: 64px;
                            z-index: 10;
                        }

                        .inputbox {
                            width: auto;
                            height: auto;
                            display: flex;
                            position: absolute;
                            top: 304px;
                            left: 101px;
                            z-index: 10;

                            .box {
                                width: auto;
                                height: auto;

                                label {
                                    display: block;
                                    width: auto;
                                    height: auto;
                                    position: relative;
                                    margin-bottom: 7px;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    i {
                                        width: 25px;
                                        height: 33px;
                                        background: url(../images/loginIcon.png) no-repeat;
                                        background-size: 100%;
                                        position: absolute;
                                        top: 8px;
                                        left: -43px;

                                        &.acIC {
                                            background-position-y: 0%;
                                        }
                                        &.pwIC {
                                            background-position-y: 100%;
                                        }

                                        &::before {
                                            content:"";
                                            width: 44px;
                                            height: 44px;
                                            background: transparent;
                                            border: 2px solid #ffffff;
                                            border-radius: 50px;
                                            position: absolute;
                                            top: -6px;
                                            left: -11.5px;
                                        }
                                    }

                                    input {
                                        width: 215px;
                                        height: 47px;
                                        background: linear-gradient(to bottom, #9e0000 0%, #970000 45%, #be0000 100%);
                                        border-radius: 10px;
                                        border: solid 1px #ffffff;
                                        color: #ffffff;
                                        font-size: 20px;
                                        padding-left: 10px;

                                        &::placeholder {
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }

                            button {
                                width: 125px;
                                height: 103px;
                                background: linear-gradient(to top,#835a09 14%,#372310 76%);
                                border-radius: 5px;
                                border: solid 2px #fff1d0;
                                box-shadow: 0 5px 10px 2px #00000080;
                                color: #ffffff;
                                font-size: 28px;
                                font-weight: bold;
                                letter-spacing: 3px;
                                margin: 0 0 0 19px;

                                &:hover,&:active,&.active {
                                    background: linear-gradient(to top, #9e0000 0%, #970000 45%, #be0000 100%);
                                }
                            }
                        }

                        .union {
                            width: 266px;
                            height: 47px;
                            background: url(../images/union.png) no-repeat;
                            margin: 10px 0 0;
                            position: absolute;
                            top: 407px;
                            left: 125px;
                        }
                    }

                    &.left {

                        .img1 {
                            width: 1024px;
                            height: 767px;
                            background: url('../images/img1.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: -127px;
                            top: 149px;
                            animation: img1 0.6s linear 0s;
                            z-index: 2;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: url('../images/img1.png') no-repeat;
                                animation: lag 0.4s linear 0s,img2 0.6s linear 0.4s;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        //背景
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 1200px;
            height: 100%;
            background: url('../images/bg.jpg') no-repeat top center;
            z-index: -999;
        }
    }
}
@keyframes img1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes img2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
        transform: scale(1.2);
    }
    
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes lag {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}